recursive-include . *.txt *.md *.ini *.conf *.css *.png *.js *.html *.po *.mo *.xml *.typed
global-include *.html *.css *.js *.png *.jpg *.po *.mo *.txt *.md *.xml *.typed
prune venv
prune project
prune downloads
prune uploads
prune logs
prune data
