pip
setuptools
pytype
prospector
bandit
dependency-check
coverage
codecov
mypy
djangorestframework
djangorestframework-stubs
types-requests
django-stubs
twine
django-extensions
python-dotenv
pre-commit
black
openpyxl==3.0.7
redis
psycopg2==2.9.3 --no-binary 2.9.3

