pip
pytype
prospector
coverage
mypy
djangorestframework
djangorestframework-stubs
types-requests
django-stubs
openpyxl-stubs
django-extensions
python-dotenv
pre-commit
black
openpyxl==3.0.7
redis
psycopg==3.2.12
sendgrid==6.9.7
ruff
schwifty
# for pypi release only:
setuptools
build
twine
